#set-search-btn {
	width: 25em;
	align-self: center;
}

.sets {
	margin: 20px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
	width: 80%;
	padding: 0 10%;
}

.set {
	display: flex;
	flex-direction: row;
	justify-content: start;
	border-radius: 5px;
	/* height: 4em; */
	border: 2px solid var(--fg-main);
	background-color: var(--bg-alt);

}


.set-count {
	font-size: 0.8em;
}

.set-icon-container {
	width: 4em;
	display: block;
	/* background-color: var(--bg-alt2); */
}



.set-icon {
	margin: 0.1em;
	width: 4em;
	align-items: center;
}

.set-info {
	width: 100%;
}

/* .set-info__item:nth-child(odd) {
	background-color: var(--bg-alt);
} */

#set-count {
	font-family: monospace;
}