:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;


	--fg-main: #fff;
	--bg-main: #202020;
	--bg-alt: #252525;
	--bg-alt2: #303030;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@font-face {
	font-family: garamond;
	src: url("assets/fonts/garamond.ttf");
}

@font-face {
	font-family: garamond;
	src: url("assets/fonts/garamond-italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: cascadia;
	src: url("assets/fonts/cascadia.ttf");
}

@font-face {
	font-family: cmu;
	src: url("assets/fonts/cmu-roman.ttf");
}

@font-face {
	font-family: cmu;
	src: url("assets/fonts/cmu-italic.ttf");
	font-style: italic;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-main);
	color: var(--fg-main);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

.math,
.math>ol,li {
	font-family: cmu;
}


.WHAT {
	width: min(1200px, 100%);
}

.quote {
	font-family: garamond;
}

.container {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.center {
	display: grid;
	place-items: center;
	align-items: center;
}

.is-disabled {
	display: none
}

.border {
	border: 2px solid var(--fg-main);
	border-radius: 5px;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
}

.main-container {
	height: 100vh;
	display: flex;
}

.sidebar {
	width: 75px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	/* border-right: 1px solid #fff; */
	background: var(--bg-alt);
}

.sidebar-item.active {
	background-color: var(--bg-alt2) !important;
}

.sidebar-item:not(.active):hover {
	background-color: var(--bg-alt2) !important;
}

.active-sidebar-item:first-child {
	margin-top: 1em;
}

.content {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-top: 1em;
	padding-bottom: 5em;
}

#content-frame {
	padding-top: 20px;
	width: 100%;
	height: calc(100% - 20px);
}

.icon {
	width: 50%;
	height: auto;
	align-self: center;
}

.sidebar-item {
	cursor: pointer;
}

.row {
	display: flex;
	justify-content: center;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

h1 {
	text-align: center;
}

input {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.1em 0.7em;
	height: 3em;
	font-weight: 500;
	font-family: inherit;
	color: #0f0f0f;
	background-color: #ffffff;
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*
button design adapted from
https: //getcssscan.com/css-buttons-examples
*/
button {
	background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
	border: 0;
	border-radius: 12px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow .2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	max-height: 3em;
}

button {
	cursor: pointer;
}

button:hover {
	border-color: #396cd8;
}

button:not([disabled]):focus {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

input,
button {
	outline: none;
}

#greet-input {
	margin-right: 5px;
}

#search-input-el {
	width: 25em;
	align-self: center;
}

.sets {
	margin: 10px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(201px, 1fr));
	grid-gap: 1em;
	width: 90%;
}

set-card {
	display: flex;
	flex-direction: row;
	justify-content: start;
	border-radius: 5px;
	/* height: 4em; */
	border: 2px solid var(--fg-main);
	background-color: var(--bg-alt);
	cursor: pointer;
}


.set-count {
	font-size: 0.8em;
}

.set-icon-container {
	width: 4em;
	display: block;
	cursor: crosshair;
}



.set-icon {
	margin: 0.1em;
	width: 4em;
	align-items: center;
}

.set-info {
	width: 100%;
	border-right: 1px solid var(--fg-main)
}

#set-count {
	font-family: monospace;
}

#set-creation-div {
	padding: 1em;
	width: min(100%, 40em);
	margin: 1em auto;
}

/*
	SET REVISION
*/


#question-question,
#question-answer {
	font-size: 1.5em;
}

#question-reveal-btn,
#question-next-btn {
	max-width: 15em;
	align-self: center;
}

.question-btns-div {
	margin: 0 auto;
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 0;
	right: 0;
}

.set-edit-info-bot {
	margin: 2em;
	padding: 2em;
	background-color: var(--bg-alt);
}

.editable-question {
	margin: 2em;
	background-color: var(--bg-alt2);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


@media screen and (max-width: 635px) {
	.set-edit-info-bot,
	.editable-question {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 0.5em;
	}
}

textarea {
	border: none;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	outline: none;
	resize: vertical;
	height: 50%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: block;
	margin: 0;
	border-radius: 0;
	border-style: none;
	border-color: Transparent;
	background-color: transparent;
	transition: transform 1s;
	color: var(--fg-main);
	border-right: 1px solid var(--fg-main);
	font-family: cascadia;
	font-size: 1.1em;
}

.editing-question-question,
#new-question-question,
#set-name {
	border-bottom: 1px solid var(--fg-main);
}
