:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  --fg-main: #fff;
  --bg-main: #202020;
  --bg-alt: #252525;
  --bg-alt2: #303030;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--fg-main);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-container {
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 75px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* border-right: 1px solid #fff; */
  background: var(--bg-alt);
}

.sidebar-item.active {
  background-color: var(--bg-alt2) !important;
}

.sidebar-item:not(.active):hover {
  background-color: var(--bg-alt2) !important;
}

.sidebar.is-disabled {
  width: 0
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#content-frame {
  padding-top: 20px;
  width: 100%;
  height: calc(100% - 20px);
}

.icon {
  width: 50%;
  height: auto;
  align-self: center;
}

.sidebar-item {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}